 body {
     margin: 0;
     overflow: hidden;
 }

 #main-plane {
     position: absolute;
     height: calc(100% - 75px);
     width: calc(100% - 200px);
     top: 0%;
     left: 200px;
     background-color: rgb(247, 247, 247);
 }

 #cover {
     position: absolute;
     top: 75px;
     left: 10px;
     /* calc(100%-75px) is wrong */
     height: calc(100% - 85px);
     /* Create a gap between the scrollbar and the edge of the window */
     width: calc(100% - 20px);
     border-radius: 10px;
     background-size: cover;
     background-position: center;
     background-image: url('../pictures/cover.jpg');
 }