 #playback-queue {
     position: absolute;
     top: 15%;
     left: 100%;
     width: 400px;
     height: calc(85% - 100px);
     border-radius: 5px 0 0 5px;
     transform: translateX(10px);
     transition: transform 0.3s ease;
     background-color: rgba(240, 240, 240, 1);
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     overflow: hidden;
     z-index: 30;
 }

 #playback-queue.display {
     transform: translateX(-100%);
 }

 #playback-queue-label {
     position: relative;
     height: 50px;
     display: flex;
     justify-content: center;
     font-size: 25px;
 }

 #clear-playback-queue {
     position: absolute;
     top: 30px;
     left: 80%;
     border: none;
     cursor: pointer;
     background-color: rgba(0, 0, 0, 0.1);
     border-radius: 5px;
 }

 #clear-playback-queue:hover {
     background-color: rgba(0, 0, 0, 0.2);
 }

 #playback-queue-songs {
     position: absolute;
     top: 50px;
     overflow-y: auto;
     scroll-behavior: smooth;
     left: 2%;
     height: calc(100% - 50px);
     width: 95%;
     user-select: none;

     &::-webkit-scrollbar {
         width: 4px;
     }

     &::-webkit-scrollbar-thumb {
         background-color: rgb(200, 200, 200);
         border-radius: 2px;
     }

     &::-webkit-scrollbar-thumb:hover {
         background-color: rgb(180, 180, 180);
     }
 }

 .playback-queue-song-line {
     height: 60px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     border-radius: 10px;
 }

 .playback-queue-song-line:hover {
     background-color: rgba(0, 0, 0, 0.15);
 }

 .playback-queue-song-line-main {
     flex: 0 0 80%;
     display: flex;
     align-items: center;
     position: relative;
 }

 .playback-queue-song-line-title {
     position: absolute;
     top: 5px;
     left: 55px;
     max-width: calc(100% - 60px);
     font-size: 15px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     font-family: Arial, "宋体";
 }

 .playback-queue-song-line-artist {
     position: absolute;
     top: 25px;
     left: 55px;
     max-width: calc(100% - 60px);
     font-size: 15px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     font-family: Arial, "宋体";
 }