 body {
     height: 100vh;
     width: 100vw;
     margin: 0;
 }

 #entire-body {
     top: 1%;
     left: 1%;
     height: 98%;
     width: 98%;
     border-radius: 2vh;
     box-shadow: 0 0 1px rgba(0, 0, 0, 1);
     position: relative;
     overflow: hidden;
 }

 #entire-body.corner {
     top: 0%;
     left: 0%;
     height: 100%;
     width: 100%;
     border-radius: 0;
 }

 #sidebar {
     height: calc(100% - 75px);
     width: 200px;
     background-color: rgb(230, 230, 230);
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
 }

 #title {
     height: 2%;
     padding: 40px 0 20px 0;
     text-align: center;
     font-family: Arial, "宋体";
     font-size: 36;
     font-weight: bold;
     user-select: none;
     cursor: pointer;
 }

 #playlist {
     padding: 20px 0 20px 0;
     width: 100%;
     text-align: center;
     cursor: pointer;
 }

 #playlist:hover {
     background-color: rgb(220, 220, 220);
 }

 #main-body {
     position: absolute;
     height: calc(100% - 75px);
     width: calc(100% - 200px);
     top: 0%;
     left: 200px;
     background-color: rgb(247, 247, 247);
 }

 .custom-title-bar {
     /* Allows window dragging */
     -webkit-app-region: drag;
     position: absolute;
     top: 0%;
     left: 0%;
     height: 75px;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     transform: translateY(0);
     transition: transform 1s ease;
 }

 .custom-title-bar.hidden {
     transform: translateY(-75px);
 }

 .custom-title-bar button {
     background-color: rgba(0, 0, 0, 0);
     border: none;
     cursor: pointer;
     border-radius: 5px;
     width: 30px;
     height: 30px;
     background-size: cover;
     background-position: center;
 }

 .custom-title-bar button:hover {
     background-color: rgba(0, 0, 0, 0.05);
 }

 .window-controls {
     -webkit-app-region: no-drag;
     position: absolute;
     top: 25px;
     left: calc(100% - 150px);
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 10px;
 }

 .minimize {
     background-image: url('pictures/minimize.png');
 }

 .maximize {
     background-image: url('pictures/maximize.png');
 }

 .close {
     background-image: url('pictures/close.png');
 }

 #cover {
     position: absolute;
     top: 75px;
     left: 10px;
     /* calc(100%-75px) is wrong */
     height: calc(100% - 85px);
     /* Create a gap between the scrollbar and the edge of the window */
     width: calc(100% - 20px);
     border-radius: 10px;
     background-size: cover;
     background-position: center;
     background-image: url('pictures/cover.jpg');
     /* visibility: visible; */
 }

 #cover.hidden {
     visibility: hidden;
 }

 #song-list {
     position: absolute;
     top: 75px;
     /* calc(100%-75px) is wrong */
     height: calc(100% - 75px);
     /* Create a gap between the scrollbar and the edge of the window */
     width: calc(100% - 5px);
     visibility: hidden;
 }

 #song-list.visible {
     visibility: visible;
 }

 #song-label {
     height: 5%;
     width: 100%;
     display: flex;
     align-items: center;
     user-select: none;
 }

 #song-title-label:hover {
     padding: 5px 0 5px 0;
     border-radius: 5px;
     cursor: pointer;
     background-color: rgb(220, 220, 220);
 }

 #artist-label:hover {
     padding: 5px 0 5px 0;
     border-radius: 5px;
     cursor: pointer;
     background-color: rgb(220, 220, 220);
 }

 #album-label:hover {
     padding: 5px 0 5px 0;
     border-radius: 5px;
     cursor: pointer;
     background-color: rgb(220, 220, 220);
 }

 #duration-label:hover {
     padding: 5px 0 5px 0;
     border-radius: 5px;
     cursor: pointer;
     background-color: rgb(220, 220, 220);
 }

 .resizer {
     position: absolute;
     top: 0%;
     left: calc(100% - 10px);
     width: 10px;
     height: 100%;
     cursor: col-resize;
 }

 .song-index {
     flex: 0 0 10%;
     display: flex;
     justify-content: center;
 }

 .song-title {
     flex: 0 0 30%;
     position: relative;
 }

 .artist {
     flex: 0 0 25%;
     position: relative;
 }

 .album {
     flex: 0 0 25%;
 }

 .duration {
     flex: 0 0 5%;
 }

 #songs {
     position: absolute;
     top: 5%;
     overflow-y: auto;
     scroll-behavior: smooth;
     left: 0%;
     height: 95%;
     width: 100%;
     user-select: none;

     &::-webkit-scrollbar {
         width: 6px;
     }

     &::-webkit-scrollbar-thumb {
         background-color: rgb(200, 200, 200);
         border-radius: 3px;
     }

     &::-webkit-scrollbar-thumb:hover {
         background-color: rgb(180, 180, 180);
     }
 }

 .song-line {
     height: 5%;
     width: 100%;
     display: flex;
     align-items: center;
 }

 .song-line-column-text {
     font-size: 15px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }

 #music-controls {
     position: absolute;
     top: calc(100% - 75px);
     width: 100%;
     height: 75px;
     background-color: rgb(240, 240, 240);
 }

 .play-controls {
     position: absolute;
     top: 0%;
     left: 50%;
     transform: translate(-50%, 0%);
     display: flex;
     padding: 5px 20px 5px 20px;
     gap: 20px;
     background-color: rgba(0, 0, 0, 0);
     align-items: center;
 }

 .play-controls button {
     height: 30px;
     width: 30px;
     background-size: cover;
     background-position: center;
     border: none;
     cursor: pointer;
     background-color: rgba(0, 0, 0, 0);
     border-radius: 5px;
 }

 .play-controls button:hover {
     background-color: rgba(0, 0, 0, 0.05);
 }

 .last-btn {
     background-image: url('pictures/lastButton.png');
 }

 .play-pause-btn {
     background-image: url('pictures/play.png');
 }

 .next-btn {
     background-image: url('pictures/nextButton.png');
 }

 .progress-container {
     position: absolute;
     top: 40%;
     left: 50%;
     width: 40%;
     height: 50%;
     transform: translate(-50%, 0);
     padding: 0 20px 0 20px;
 }

 .current-time {
     font-family: Arial, sans-serif;
     font-size: 12px;
     user-select: none;
     position: absolute;
     top: calc(50% - 4px);
     left: 15%;
     height: 12px;
     transform: translateX(-120%);
 }

 .progress {
     /* Override default CSS styles */
     -webkit-appearance: none;
     appearance: none;
     position: absolute;
     top: calc(50% - 2px);
     left: 15%;
     height: 4px;
     width: 70%;
     background-color: #d3d3d3;

     &::-webkit-slider-thumb {
         -webkit-appearance: none;
         appearance: none;
         width: 10px;
         height: 10px;
         /* ball */
         border-radius: 50%;
         background: black;
         cursor: pointer;
         display: none;
     }
 }

 .progress.hover {
     &::-webkit-slider-thumb {
         display: block;
     }
 }

 .total-time {
     font-family: Arial, sans-serif;
     font-size: 12px;
     user-select: none;
     position: absolute;
     top: calc(50% - 4px);
     left: 85%;
     height: 12px;
     transform: translateX(20%);
 }

 .volume-control {
     position: absolute;
     top: 35%;
     left: 85%;
     padding: 10px 20px 10px 20px;
     transform: translate(-50%, 0%);
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }

 .volume-icon {
     height: 30px;
     width: 30px;
     background-image: url('pictures/speaker.png');
     background-size: cover;
     background-position: center;
     border-radius: 5px;
 }

 .volume-icon:hover {
     background-color: rgba(0, 0, 0, 0.05);
 }

 .volume {
     /* Override default CSS styles */
     -webkit-appearance: none;
     appearance: none;
     height: 3px;
     width: 100px;
     background: linear-gradient(to right, black 0%, black 30%, #d3d3d3 30%, #d3d3d3 100%);

     &::-webkit-slider-thumb {
         -webkit-appearance: none;
         appearance: none;
         width: 8px;
         height: 8px;
         /* ball */
         border-radius: 50%;
         background: black;
         cursor: pointer;
         display: none;
     }
 }

 .volume.hover {
     &::-webkit-slider-thumb {
         display: block;
     }
 }

 #lyrics-body {
     position: absolute;
     height: 100%;
     width: 100%;
     top: 0%;
     left: 0%;
     background-image: url('pictures/bg.jpg');
     background-size: cover;
     background-position: center;
     transform: translateY(100%);
     transition: transform 1s ease;
 }

 #lyrics-body.visible {
     transform: translateY(0);
     transition: transform 1s ease;
 }

 #lyric-control {
     -webkit-app-region: no-drag;
     position: absolute;
     top: 25px;
     left: 50px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 10px;
 }

 #pull {
     background-image: url('pictures/pull.png');
 }

 #full-screen {
     background-image: url('pictures/enterFull.png');
 }

 #full-screen.change {
     transform: translateX(-50px);
     background-image: url('pictures/leaveFull.png');
 }

 #lyrics-container {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 80%;
     max-height: 70%;
     overflow-y: auto;
     text-align: center;
     font-family: Arial, "宋体";
     scroll-behavior: smooth;

     &::-webkit-scrollbar {
         display: none;
     }
 }

 .lyrics-line {
     margin: 12px 0;
     font-size: 22px;
     color: #666;
     transition: all 0.3s ease;
 }

 .current-line {
     color: #310adf;
     font-size: 26px;
     font-weight: bold;
 }

 #vice-music-controls {
     position: absolute;
     top: calc(100% - 75px);
     width: 100%;
     height: 75px;
     background-color: rgba(255, 255, 255, 0.3);
     transform: translateY(0);
     transition: transform 1s ease;
 }

 #vice-music-controls.hidden {
     transform: translateY(100%);
 }